<template name="poweredBy">
	<p class="powered-by">
		{{_ "Powered_by"}}
		<a href="https://www.concentrix.com" target="_blank">
			<img class="logo" src="images/logo/CNX_Left_Logo_Color.png">
		</a>
	</p>
</template>
